@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>LOGIN - FRAMEWORK</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/images/maipark.png" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/atlantis/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Lato:300,400,700,900"]},
            custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/atlantis/assets/css/fonts.min.css']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/atlantis/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/atlantis/assets/css/atlantis.css">
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            <img src="~/images//maipark.png" width="170" class="mx-auto d-block mb-4" />
            <h4 class="text-center mb-4">Sign In To SPRM FRAMEWORK</h4>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger mt-3">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p class="mb-0">@error.ErrorMessage</p>
                    }
                </div>
            }
            <form class="login-form" method="post">
                <div class="form-group form-floating-label">
                    <input id="username" name="username" type="text" class="form-control input-border-bottom" required>
                    <label for="username" class="placeholder">Username</label>
                </div>
                <div class="form-group form-floating-label">
                    <input id="password" name="password" type="password" class="form-control input-border-bottom" required>
                    <label for="password" class="placeholder">Password</label>
                    <div class="show-password">
                        <i class="icon-eye"></i>
                    </div>
                </div>
                <div class="form-action">
                    <button type="submit" class="btn btn-primary btn-rounded btn-login">Sign In</button>
                </div>
                <div class="mt-5 text-center text-muted text-small">
                    ©️ PT. Reasuransi MAIPARK Indonesia 2025
                </div>
            </form>
        </div>
    </div>
    <script src="~/atlantis/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/atlantis/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/atlantis/assets/js/core/popper.min.js"></script>
    <script src="~/atlantis/assets/js/core/bootstrap.min.js"></script>
    <script src="~/atlantis/assets/js/atlantis.min.js"></script>
</body>
</html>