@{
    ViewBag.Title = "Dashboard";
}
<div class="page-navs py-3 align-items-center d-md-flex d-md-block bg-white">
    <div class="col-12 col-md-6 font-weight-bold" style="font-size: 24px;">
        @ViewBag.Title
    </div>
    <div class="col-12 col-md-6 text-md-right">
        <h4 id="dateToday">@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</h4>
        <a class="icon-refresh" style="font-size: 18px; cursor: pointer" id="updateData"></a>
        <a id="time" style="font-size: 18px;">300</a>
    </div>
</div>

<div class="page-inner">
    <!-- Inner Page -->
    <div class="d-flex flex-wrap justify-content-between">
        <div class="card mb-3 card-stats card-round" style="width: 19%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-primary bubble-shadow-small">
                            <i class="flaticon-graph"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-category">Profitability</p>
                            <h4 class="card-title" id="countPRFT">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 card-stats card-round" style="width: 19%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-info bubble-shadow-small">
                            <i class="fas fa-recycle"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-category">Sustainability</p>
                            <h4 class="card-title" id="countSTNB">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 card-stats card-round" style="width: 19%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-success bubble-shadow-small">
                            <i class="flaticon-stopwatch"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-category">SDGs</p>
                            <h4 class="card-title" id="countSDGS">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 card-stats card-round" style="width: 19%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-secondary bubble-shadow-small">
                            <i class="flaticon-users"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-category">HC & R</p>
                            <h4 class="card-title" id="countHCR">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 card-stats card-round" style="width: 19%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-icon">
                        <div class="icon-big text-center icon-warning bubble-shadow-small">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <div class="col col-stats ml-3 ml-sm-0">
                        <div class="numbers">
                            <p class="card-category">Improvement</p>
                            <h4 class="card-title" id="countIMPV">0</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Action Plan Status (Multiple Bar Chart)</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="multipleBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Action Plan Status (Pie Chart)</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var token = sessionStorage.getItem("AccessToken");

        $(document).ready(function () {
            $('#navLink-Index-Dashboard').addClass('nav-item active');

            var multipleBarChart = document.getElementById('multipleBarChart').getContext('2d'),
                pieChart = document.getElementById('pieChart').getContext('2d');

            var myMultipleBarChart = new Chart(multipleBarChart, {
                type: 'bar',
                data: {
                    labels: [],
                    datasets : [{
                        label: "Active",
                        backgroundColor: '#177dff',
                        borderColor: '#177dff',
                        data: [],
                    },{
                        label: "In Progress",
                        backgroundColor: '#fdaf4b',
                        borderColor: '#fdaf4b',
                        data: [],
                    }, {
                        label: "Completed",
                        backgroundColor: '#59d05d',
                        borderColor: '#59d05d',
                        data: [],
                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position : 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Pilar Strategic Stats'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });

            var myPieChart = new Chart(pieChart, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [],
                        backgroundColor : [],
                        borderWidth: 0
                    }],
                    labels: []
                },
                options : {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position : 'bottom',
                        labels : {
                            fontColor: 'rgb(154, 154, 154)',
                            fontSize: 11,
                            usePointStyle : true,
                            padding: 20
                        }
                    },
                    pieceLabel: {
                        render: function (args) {
                            const total = args.dataset.data.reduce((a, b) => a + b, 0);
                            const value = args.value;
                            const percentage = ((value / total) * 100).toFixed(2);
                            return `${value} (${percentage}%)`;
                        },
                        fontColor: 'white',
                        fontSize: 14,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    layout: {
                        padding: {
                            left: 20,
                            right: 20,
                            top: 20,
                            bottom: 20
                        }
                    }
                }
            })

            // Get Pie Chart from SQL Server
            function refreshPieChart(){
                $.ajax({
                    url: 'http://sql-mvt-03/sprm/api/Dashboard/GetPieChart',
                    type: 'GET',
                    contentType: 'application/json',
                    headers: { 'Authorization': 'Bearer ' + token },
                    success: function (response) {
                        if (response.success) {
                            myPieChart.data.labels = response.data.labels;
                            myPieChart.data.datasets[0].data = response.data.data;
                            myPieChart.data.datasets[0].backgroundColor = response.data.backgroundColor;
                            myPieChart.update();
                        }
                    },
                    error: function (error) {
                        console.error('Unable to Get Pie Chart from API', error);
                    }
                });
            }

            // Get Multiple Bar Chart from SQL Server
            function refreshMultipleBarChart(){
                $.ajax({
                    url: 'http://sql-mvt-03/sprm/api/Dashboard/GetMultipleBarChart',
                    type: 'GET',
                    contentType: 'application/json',
                    headers: { 'Authorization': 'Bearer ' + token },
                    success: function (response) {
                        if (response.success) {
                            myMultipleBarChart.data.labels = response.data.labels;
                            myMultipleBarChart.data.datasets = response.data.datasets;
                            myMultipleBarChart.update();

                            // Refresh Action Plan Status Count
                            const Profitability = response.data.datasets[0].data[0] + response.data.datasets[1].data[0] + response.data.datasets[2].data[0] + response.data.datasets[3].data[0];
                            const Sustainability = response.data.datasets[0].data[1] + response.data.datasets[1].data[1] + response.data.datasets[2].data[1] + response.data.datasets[3].data[1];
                            const SDGs = response.data.datasets[0].data[2] + response.data.datasets[1].data[2] + response.data.datasets[2].data[2] + response.data.datasets[3].data[2];
                            const HCR = response.data.datasets[0].data[3] + response.data.datasets[1].data[3] + response.data.datasets[2].data[3] + response.data.datasets[3].data[3];
                            const Improvement = response.data.datasets[0].data[4] + response.data.datasets[1].data[4] + response.data.datasets[2].data[4] + response.data.datasets[3].data[4];
                            
                            // Send count value to ui card
                            $('#countPRFT').text(Profitability);
                            $('#countSTNB').text(Sustainability);
                            $('#countSDGS').text(SDGs);
                            $('#countHCR').text(HCR);
                            $('#countIMPV').text(Improvement);
                        }
                    },
                    error: function (error) {
                        console.error('Unable to Get Pie Chart from API', error);
                    }
                });
            }

            // First Call
            updateTime('#time');
            refreshPieChart();
            refreshMultipleBarChart();

            // Refresh data when the refresh button is clicked
            $("#updateData").click(function () {
                $('#time').text(300);
                // Fill the function below to refresh
                $('#dateToday').text(moment().format('DD/MM/YYYY HH:mm:ss'));
                refreshPieChart();
                refreshMultipleBarChart();
            })

            // Refresh data every 1 Minute
            function updateTime(time) {
                let new_time = parseInt($(time).text());
                if (new_time <= 0) {
                    $(time).text(300)
                    // Fill the function below to refresh
                    $('#dateToday').text(moment().format('DD/MM/YYYY HH:mm:ss'));
                    refreshPieChart();
                    refreshMultipleBarChart();
                    setTimeout(function () { updateTime(time) }, 1000)
                } else {
                    new_time--;
                    $(time).text(new_time);
                    setTimeout(function () { updateTime(time) }, 1000)
                }
            }
        });
    </script>
}