@{
    ViewBag.Title = "Graph";
}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Graph</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Plan Manager</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Graph</a>
            </li>
        </ul>
    </div>
    <!-- Inner Page -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Action Plan Status (Doughnut Chart)</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="doughnutChart" style="width: 50%; height: 50%"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Action Plan Status (Multiple Bar Chart)</div>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="multipleBarChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var token = localStorage.getItem("AccessToken");

        $(document).ready(function () {
            $('#navLink-3').addClass('nav-item active');

            var doughnutChart = document.getElementById('doughnutChart').getContext('2d'),
                multipleBarChart = document.getElementById('multipleBarChart').getContext('2d');

            var myDoughnutChart = new Chart(doughnutChart, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [],
                        backgroundColor: []
                    }],
                    labels: []
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend : {
                        position: 'bottom'
                    },
                    layout: {
                        padding: {
                            left: 20,
                            right: 20,
                            top: 20,
                            bottom: 20
                        }
                    }
                }
            });

            var myMultipleBarChart = new Chart(multipleBarChart, {
                type: 'bar',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets : [{
                        label: "First time visitors",
                        backgroundColor: '#59d05d',
                        borderColor: '#59d05d',
                        data: [95, 100, 112, 101, 144, 159, 178, 156, 188, 190, 210, 245],
                    },{
                        label: "Visitors",
                        backgroundColor: '#fdaf4b',
                        borderColor: '#fdaf4b',
                        data: [145, 256, 244, 233, 210, 279, 287, 253, 287, 299, 312,356],
                    }, {
                        label: "Pageview",
                        backgroundColor: '#177dff',
                        borderColor: '#177dff',
                        data: [185, 279, 273, 287, 234, 312, 322, 286, 301, 320, 346, 399],
                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position : 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Traffic Stats'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });

            // Get Doughnut Chart from SQL Server
            function refreshDoughnutChart(){
                $.ajax({
                    url: 'http://sql-mvt-03/sprm/api/Dashboard/GetPieChart',
                    type: 'GET',
                    contentType: 'application/json',
                    headers: { 'Authorization': 'Bearer ' + token },
                    success: function (response) {
                        if (response.success) {
                            myDoughnutChart.data.labels = response.data.labels;
                            myDoughnutChart.data.datasets[0].data = response.data.data;
                            myDoughnutChart.data.datasets[0].backgroundColor = response.data.backgroundColor;
                            myDoughnutChart.update();
                        }
                    },
                    error: function (error) {
                        console.error('Unable to Get Doughnut Chart from API', error);
                    }
                });
            }

            // Get Multiple Bar Chart from SQL Server
            function refreshMultipleBarChart(){
                $.ajax({
                    url: 'http://sql-mvt-03/sprm/api/Dashboard/GetMultipleBarChart',
                    type: 'GET',
                    contentType: 'application/json',
                    headers: { 'Authorization': 'Bearer ' + token },
                    success: function (response) {
                        if (response.success) {
                            myMultipleBarChart.data.labels = response.data.labels;
                            myMultipleBarChart.data.datasets = response.data.datasets;
                            myMultipleBarChart.update();
                        }
                    },
                    error: function (error) {
                        console.error('Unable to Get Pie Chart from API', error);
                    }
                });
            }

            // First Call
            refreshDoughnutChart();
            refreshMultipleBarChart();
        });
    </script>
}