@{
    ViewBag.Title = "Kanban";
}

<div class="page-navs bg-white py-3 pr-2">
    <div class="card-title fw-bold">Kanban</div>
</div>
<div class="page-inner page-inner-fill">
    <div id="myKanban" class="board">
        <div id="kanban-prft" class="kanban-board">
            <header class="kanban-board-header mb-3">
                <div class="kanban-title-board">Profitability</div>
            </header>
            <main>
                <div class="kanban-item">
                    <a href="#" class="kanban-title">Action_Plan_Test_Case01</a>
                    <div class="kanban-badges">
                        <div class="kanban-badge bg-danger">
                            <i class="far fa-clock"></i>
                            <span class="badge-text">May 16, 2025</span>
                        </div>
                        <div class="kanban-badge">
                            <i class="far fa-check-square"></i>
                            <span class="badge-text">0/1</span>
                        </div>
                    </div>
                    <div class="kanban-edit">
                        <i class="fa fa-pencil-alt"></i>
                    </div>
                </div>
                <div class="kanban-item">
                    <a href="#" class="kanban-title">AP 02 Test_Case01 01</a>
                    <div class="kanban-badges">
                        <div class="kanban-badge bg-danger">
                            <i class="far fa-clock"></i>
                            <span class="badge-text">To Be Determined</span>
                        </div>
                        <div class="kanban-badge">
                            <i class="far fa-check-square"></i>
                            <span class="badge-text">0/0</span>
                        </div>
                    </div>
                    <div class="kanban-edit">
                        <i class="fa fa-pencil-alt"></i>
                    </div>
                </div>
            </main>
        </div>
        <div id="kanban-stnb" class="kanban-board">
            <header class="kanban-board-header mb-3">
                <div class="kanban-title-board">Sustainability</div>
            </header>
            <main>
                
            </main>
        </div>
        <div id="kanban-sdgs" class="kanban-board">
            <header class="kanban-board-header mb-3">
                <div class="kanban-title-board">Sustainable Development Goals</div>
            </header>
            <main>

            </main>
        </div>
        <div id="kanban-hcr" class="kanban-board">
            <header class="kanban-board-header mb-3">
                <div class="kanban-title-board">Human Capital and Retention</div>
            </header>
            <main>

            </main>
        </div>
        <div id="kanban-impv" class="kanban-board">
            <header class="kanban-board-header mb-3">
                <div class="kanban-title-board">Improvement</div>
            </header>
            <main>

            </main>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#navLink-3').addClass('nav-item active');
        });

        'use strict';

        // Kanban Board Demo
        // =============================================================

        var boardDemo = {
            init: function init() {

                this.bindUIActions();
            },
            bindUIActions: function bindUIActions() {
                // event handlers
                this.handleBoardStyle();
            },
            byId: function byId(id) {
                return document.getElementById(id);
            },
            handleBoardStyle: function handleBoardStyle() {
                $(document).on('mouseenter mouseleave', '.kanban-board-header', function (e) {
                    var isHover = e.type === 'mouseenter';
                    $(this).parent().toggleClass('hover', isHover);
                });
            }
        };

        boardDemo.init();
    </script>
}